/* Computer Styles */
body {
	font-family: 'Helvetica Neue', sans-serif;
	background-color: lightgray;
}

.TextBox {
	/* Styles */
	background: #fff;
	border-radius: 7px;
	border: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(50,50,50,0.1);
	/*cursor: pointer;*/
	outline: none;
	height: 25px;
	width: 175px;
	text-align: center;
	/* Font settings */
	font-weight: bold;
	color: #8AA8BD;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: medium;
}

.DropDownList {
	position: relative;
	width: 200px;
	margin: 0 auto;
	padding: 10px;
	/* Styles */
	background: #fff;
	border-radius: 7px;
	border: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(50,50,50,0.1);
	cursor: pointer;
	outline: none;
	/* Font settings */
	font-weight: bold;
	color: #8AA8BD;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: medium;
}

#wrapper {
	background-color: #90C7E3;
	box-shadow: 6px 6px 0 0 #333333;
	/*min-width: 960px;
    max-width: 2048px;*/
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-height: 100%;
}

header {
	background: #024864;
	color: #FFFFFF;
	display: flex;
	height: 60px;
	padding-top: 20px;
}

h1 {
	flex: 1;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 40px;
	font-family: 'Helvetica Neue', sans-serif;
}

.accountBtn {
	width: 94px;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 40px;
	padding-right: 2%;
}

.leftpad {
	width: 94px;
	padding-left: 2%;
}

h2 {
	color: #024864;
}

nav {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 120px;
	font-weight: bold;
	line-height: 3;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 20px;
	font-weight: 400;
	height: auto !important;
	height: 100%;
	min-height: 100%;
	text-rendering: optimizeLegibility;
}

	nav a {
		text-decoration: none;
		display: block;
		height: 40px;
		padding: 10px 25px;
		width: 100%;
	}

	nav ul {
		margin: 0px;
		padding-left: 0px;
		width: 100%;
		list-style-type: none;
		line-height: 40px;
	}

		nav ul li a {
			color: #000033;
		}

			nav ul li a:hover {
				background-color: #024864;
				color: #FFFFFF;
				width: 90%;
			}

main {
	padding: 10px 30px 30px 10px;
	margin-left: 158px;
	background-color: #FFFFFF;
	height: auto;
	min-height: 380px;
	width: auto;
	min-width: 200px;
}

.Button {
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 14px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
}

	.Button:hover {
		border-top-color: #28597a;
		background: #28597a;
		color: #ccc;
	}

	.Button:active {
		border-top-color: #1b435e;
		background: #1b435e;
	}

.Label {
	color: red;
	padding-left: 5px;
	font-family: Helvetica, Arial, Sans-Serif;
}

#Elements {
	float: left;
	width: 50%;
}

#Principles {
	float: right;
	width: 50%;
}

#Buttons {
	text-align: center;
}

.Validator {
	color: red;
	font-size: 14px;
	font-family: Helvetica, Arial, Sans-Serif;
	font-weight: bold;
}

.loginButtons {
	padding-left: 20px;
}

.mainHeading {
	display: inline;
}

.Account-Label {
	width: 100px;
}

.itemsGrid {
	text-align: center;
	padding: 5px;
}

.image {
	height: 251px;
	width: 251px;
}

.ListBox {
	width: 100px;
}

.accountPnl {
	padding-bottom: .2em;
}

.imgChoice {
	text-align: center;
}

/* Tablet Styles*/
@media only screen and (max-width: 78em) {

	#wrapper {
		min-width: 0;
		width: auto;
		box-shadow: none;
		background-color: #FFFFFF;
	}

	main {
		margin-left: 0px;
	}

	nav {
		background-color: #90C7E3;
		float: none;
		width: auto;
		text-align: center;
	}

		nav a {
			display: inline;
			padding: 8px 25px;
		}

		nav li {
			display: inline;
		}
}

@media only screen and (max-width: 60em) {
	main {
		background-color: white;
	}
}
/* Smaller Web Styles */
@media only screen and (max-width: 42em) {

	nav, main, #wrapper, header {
		min-width: 434px;
	}

		nav li {
			display: block;
			margin: 0;
			border-bottom: 2px solid #024864;
		}
}

@media only screen and (max-device-width: 80em) {

	#wrapper {
		min-width: 0;
		width: auto;
		box-shadow: none;
		background-color: #FFFFFF;
	}

	main {
		margin-left: 0px;
	}

	nav {
		background-color: #90C7E3;
		float: none;
		width: auto;
		text-align: center;
	}

		nav a {
			display: inline;
			padding: 8px 25px;
		}

		nav li {
			display: inline;
		}
}

/* Phone Styles */
@media only screen and (max-device-width: 67.5em) {

	nav, main, #wrapper, header {
		min-width: 434px;
	}

		nav li {
			display: block;
			margin: 0;
			border-bottom: 2px solid #024864;
		}
}
